name: Optimize Images

on:
  push:
    paths:
      - lib/**/*
  workflow_dispatch:

jobs:
  build:
    if: "!startsWith(github.event.head_commit.message, 'chore[github-actions]')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cadamsdev/image-optimizer-action@v1
        id: optimize_images
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          debug: true
          export-webp: true
      - name: Create pull request
        if: steps.optimize_images.outputs.markdown_report != ''
        uses: peter-evans/create-pull-request@v7
        with:
          branch-suffix: timestamp
          delete-branch: true
          title: "[GitHub Actions] Optimize Images"
          body: ${{ steps.optimize_images.outputs.markdown_report }}
          commit-message: "chore[github-actions]: optimize images"
          author: "github-actions[bot] <github-actions[bot]@users.noreply.github.com>"
          committer: "github-actions[bot] <github-actions[bot]@users.noreply.github.com>"
